body {
  margin-top: 30px;
}

#container {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 130px;
}

.thumbnail {
  max-width: 100%;
  border-radius: 0px;
  padding: 0px;
}

.lightbox {
  display: none;
  position: fixed;
  z-index: 999;
  width: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
}

.lightbox img {
  max-width: 72%;
  margin-top: 10%;
  min-height: 50%;
  margin-bottom: 10%
}

.lightbox:target {
  outline: none;
  display: block;
}


/*TRYING TO HIDE/REMOVE LIGHTBOX ON MobILE
@media screen and (min-width: 796px){
.lightbox .lightbox img {
  visability: hidden;
  display: none;
  }
}

@media screen and (min-width: 550px){
.lightbox .lightbox img {
  visability: hidden;
  display: none;
  }
}*/

