#container {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 105px;
}

.thumbnail {
  max-width: 100%;
  border-radius: 0px;
  padding: 0px;
}

.lightbox {
  display: none;
  position: fixed;
  z-index: 999;
  width: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
}

.lightbox img {
/*  max-width: 90%;
  max-height: 100%;
  margin-top: 10%;
  margin-bottom: 30px;*/
  max-width: 72%;
  margin-top: 13%;
  padding-bottom: -6px;
  min-height: 50%;
/*    opacity: 0;
    -webkit-transition: opacity 1s linear;
    transition: opacity 1s linear;*/
}

.lightbox:target {
  outline: none;
  display: block;
}