.cols {
    -moz-column-count:4;
    -moz-column-gap: 3%;
    -moz-column-width: 30%;
    -webkit-column-count:4;
    -webkit-column-gap: 3%;
    -webkit-column-width: 30%;
    column-count: 4;
    column-gap: 3%;
    column-width: 30%;
    background-color: black;
}

.fade {
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   }

.fade:hover {
  opacity: 0.5;
  }

#hollyWedding {
  width: 103%;
  margin-top: 4px;
}

#booneWedding {
 width: 103%;
 margin-top: 4px;
}

#heatherFamily {
  width: 103%;
  margin-top: 4px;
}

#reflection {
 width: 103%;
 margin-top: 4px;
}

#pie {
 width: 103%;
 margin-top: 4px;
}

#redcross {
 width: 103%;
 margin-top: 4px;
}

#moon {
 width: 103%;
 margin-top: 4px;
}

#rubix {
 width: 103%;
 margin-top: 4px;
}

#rainier {
 width: 103%;
 margin-top: 4px;
} 

#familyBridge {
 width: 103%;
 margin-top: 4px;
}

footer {
  padding-top: 6em;
  color: gray;
  text-align: center;
}