/*#cf6_image {
  margin:0 auto;
  width:450px;
  height:281px;
  transition: background-image 1s ease-in-out;
  background-image:url("http://i349.photobucket.com/albums/q397/oghp78/11222382_10203990747648860_1864505889220582267_o_zpstsg2pel8.jpg");
}

#cf6_image:hover {
  background-image:url("http://i349.photobucket.com/albums/q397/oghp78/312088_149609315128430_384520252_n_zps8nt2csqe.jpg");
}*/


body {
  background-color: black;
}

.example6 .navbar-brand{ 
  background: url("http://i349.photobucket.com/albums/q397/oghp78/df505e78-2e0d-4787-9719-c0eb5e361bdc_zpsudeyo35j.jpg") center / contain no-repeat;
  /*ENLYTEN logo image*/
  width: 200px;
  height: 90px;
}

.navbar {
  background-color: black;
  padding-top: 15px;
  padding-bottom: 10px;
}

.navbar-inverse .navbar-nav>li>a {
  padding-top: 35px;
  color: white;
  font-family:'Quicksand', sans-serif;
  font-size: 20px;
}

.navbar-nav>li>.dropdown-menu {
  background-color: black;
}

.dropdown-menu {
  font-size: 20px;
}

img {
  margin: auto;
}

.item {
  margin: auto;
}

/*.carousel-inner {
  width: 60%;
}*/

.carousel {  
  position: relative;
  display: block;
  max-width: 75%;
  height: auto;
  margin: auto;
  margin-top: 40px;
}