body {
  margin-top: 105px;
  background-image: url("http://i349.photobucket.com/albums/q397/oghp78/ENLYTEN%20IN%20ACTION/Photo%20Guy-1_zpsoluyumtd.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

a:link {
    text-decoration: none;
}

.navbar {
  padding-bottom: 14px;
}

#accordion {
  width: 230px;
  font-family: 'Arsenal', sans-serif
  font-size: 20px;
  color: #b2b5ba;
  /*background-color: black;*/
  text-align: center;
/*  padding-top: 105px;*/
  margin: auto;
  text-align: center;
  margin: 186px 0px 0px 90px;
}

.panel {
  margin-bottom: 20px;
  background-color: black;
  margin-top: 5px;
}

.panel-title {
  font-family: 'Arsenal', sans-serif
}

.panel-default {
  border-color: black;
}

.panel-heading {
  border-radius: 0;
}

#photoDetails {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 40px;
  text-align: center;
  font-family: 'Arsenal', sans-serif;
  font-size: 18px;
  color: white;
  margin-top: 12%;
}

